# Loot lists for every "tier", the values below match vanilla - you can customise them by editing
# You can use either numerid IDs, names from ItemList or id's registered with IDFactory for modded items

tier0=brickPottery, marbleBrick, roundedBrick, sandstoneBrick, slateBrick, stoneBrick, ironOre, goldOre, copperOre, leadOre, silverOre, tinOre, zincOre, marbleShard, marbleShard, rock, branch, shaft, arrowShaft, pegWood, tenon
tier1=ironBar, copperBar, leadBar, tinBar, zincBar, arrowHead
tier2=crudeAxe, crudeKnife, crudePickAxe, crudeShovel, silverBar, goldBar, bronzeBar, steelBar, brassBar, electrumBar, shingleSlate, shinglePottery, nailsIronLarge, nailsIronSmall, ironBand, arrowHeadHunter, statueMountainLion, statueRiftBeast, statueGoblin
tier3=bowlPottery, flowerpotPottery, planterPottery, jarPottery, flaskPottery, amphoraSmallPottery, axeHeadHatchet, hammerHeadMetal, chiselBlade, fileBlade, knifeBladeButchering, knifeBladeCarving, rakeBlade, pickBladeIron, scissorBlade, scytheBlade, shovelBladeMetal, sickleBlade, trowelBlade, arrowHeadWar, statueKyklops, statuetteDigger, statuetteMiner
tier4=amphoraLargePottery, measuringJugPottery, roastingDishPottery, pieDishPottery, beerSteinPottery, statueEagle, statueWorg, statueGuard, headHalberd, axeHeadHuge, axeHeadMedium, axeHeadSmall, maulHeadLarge, maulHeadMedium, maulHeadSmall, swordBladeLong, swordBladeShort, swordBladeTwoHanded, statueFiend, statuetteAxeman, statuetteSwordsman, statueTich
tier5=hammerMetal, pickAxe, stoneChisel, file, knifeButchering, knifeCarving, shovel, hatchet, rake, saw, trowel, scissors, scythe, sickle, statueHellHorse, statueDrake, statueUnicorn
tier6=swordLong, swordShort, swordTwoHander, axeHuge, axeMedium, axeSmall, halberd, maulLarge, maulMedium, maulSmall, chainBoot, chainCoif, chainGlove, chainHose, chainJacket, chainSleeve, statueFo, statueMagranon, statueLibila, statueVynora, staffSteel
tier7=maskShadow, maskEnlightended, maskIsles, maskPale, maskRavager, plateBoot, plateGauntlet, plateHose, plateJacket, plateSleeve, shieldSmallMetal, shieldLargeMetal, helmetOpen, helmetGreat
cache=statueMountainLion, statueRiftBeast, statueGoblin, statueKyklops, statuetteDigger, statuetteMiner, statueEagle, statueWorg, statueGuard, statueFiend, statuetteAxeman, statuetteSwordsman, statueHellHorse, statueDrake, statueUnicorn, statueFo, statueMagranon, statueLibila, statueVynora, statueTich

# This setting will prevent you from getting loot from tiers lower than the value at certain "power" values
# "power" is the result of an archaeology skill check combined with tile value (being at/near old deeds, etc.)
# this allows to get less junk for people with higher skill investigating "good" tiles
# for example setting "minTierAtPower90=2" will mean you only get tier2 and higher if the "power" is >= 90
# By default they are set to -1 which means it's disabled

minTierAtPower50=-1
minTierAtPower70=-1
minTierAtPower90=-1

# Tweaks loot distribution to further reduce junk-tier drops on "good" tiles
lessJunkOnGoodTiles=false

# Enable to show a bunch of info in server log every time someone investigates a tile
extraInfoLogging=false

# Enable to allow archaeological reports and journals
journalSystem=false

# Alternative "cache" system - this only works if journalSystem is enabled (otherwise vanilla mechanic will be used)
# when investigating a tile on a deed that you have a full report for, the "power" of the action will be added to a total
# that is tracked per player. Once the total reaches cacheTotalPower - a cache chest will be spawned and the total reset
# this provides an alternative to the vanilla system that consumes the report.
# Setting this value to 0 (with journalSystem enabled) will completely disable cache chests from being spawned.
cacheTotalPower=0