# Loot lists for every "tier", the values below match vanilla - you can customise them by editing
# You can use either numerid IDs, names from ItemList or id's registered with IDFactory for modded items

tier0=brickPottery, marbleBrick, roundedBrick, sandstoneBrick, slateBrick, stoneBrick, ironOre, goldOre, copperOre, leadOre, silverOre, tinOre, zincOre, marbleShard, marbleShard, rock, branch, shaft, arrowShaft, pegWood, tenon
tier1=ironBar, copperBar, leadBar, tinBar, zincBar, arrowHead
tier2=crudeAxe, crudeKnife, crudePickAxe, crudeShovel, silverBar, goldBar, bronzeBar, steelBar, brassBar, shingleSlate, shinglePottery, nailsIronLarge, nailsIronSmall, ironBand, arrowHeadHunter
tier3=bowlPottery, flowerpotPottery, planterPottery, jarPottery, flaskPottery, amphoraSmallPottery, axeHeadHatchet, hammerHeadMetal, chiselBlade, fileBlade, knifeBladeButchering, knifeBladeCarving, rakeBlade, pickBladeIron, scissorBlade, scytheBlade, shovelBladeMetal, sickleBlade, trowelBlade, arrowHeadWar
tier4=amphoraLargePottery, measuringJugPottery, roastingDishPottery, pieDishPottery, beerSteinPottery, statueEagle, statueWorg, headHalberd, axeHeadHuge, axeHeadMedium, axeHeadSmall, maulHeadLarge, maulHeadMedium, maulHeadSmall, swordBladeLong, swordBladeShort, swordBladeTwoHanded
tier5=hammerMetal, pickAxe, stoneChisel, file, knifeButchering, knifeCarving, shovel, hatchet, rake, saw, trowel, scissors, scythe, sickle, statueHellHorse, statueDrake
tier6=swordLong, swordShort, swordTwoHander, axeHuge, axeMedium, axeSmall, halberd, maulLarge, maulMedium, maulSmall, chainBoot, chainCoif, chainGlove, chainHose, chainJacket, chainSleeve, statueFo, statueMagranon, statueLibila, statueVynora
tier7=maskShadow, maskEnlightended, maskIsles, maskPale, maskRavager, plateBoot, plateGauntlet, plateHose, plateJacket, plateSleeve, shieldSmallMetal, shieldLargeMetal, helmetOpen, helmetGreat

# This setting will prevent you from getting loot from tiers lower than the value at certain "power" values
# "power" is the result of an archaeology skill check combined with tile value (being at/near old deeds, etc.)
# this allows to get less junk for people with higher skill investigating "good" tiles
# for example setting "minTierAtPower90=2" will mean you only get tier2 and higher if the "power" is >= 90
# By default they are set to -1 which means it's disabled

minTierAtPower50=-1
minTierAtPower70=-1
minTierAtPower90=-1